@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;700;900&display=swap');

body {
    font-family: 'Fira Sans', sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}

header {
    width: 100;
    height: 80px;
    background-color: #b90114; /* Siempre rojo */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    box-sizing: border-box;
    overflow: hidden;
    
}

.user-info {
    display: flex;
    align-items: center;
    gap: 15px;
}

#user-name {
    font-family: 'Fira Sans', sans-serif;
    font-size: 20px;
    color: #ffffff;
}

.user-img {
    width: 40px;
    height: 40px;
    background-image: url('../assets/images/avatar.png');
    background-size: cover;
    border-radius: 50%;
}

.date-time {
    display: flex;
    flex-direction: column;
    text-align: right;
}

#current-time,
#current-date {
    font-family: 'Fira Sans', sans-serif;
    font-size: 20px;
    color: #ffffff;
}

.icon-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.icon-box,
.logout-box {
    width: 40px;
    height: 40px;
    background-color: #ffffff;
    border-radius: 10px;
    cursor: pointer;
}

main {
    padding: 30px;
}

h1, h2 {
    font-weight: 700;
}

.filter-container {
    background-color: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 40px;
}

.search-row {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
}

.dropdown-group {
    margin-bottom: 10px;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.dropdown-group label {
    font-weight: 700;
    margin-bottom: 5px;
}

.dropdown-group select,
.dropdown-group input {
    width: 100%;
    height: 50px;
    font-size: 18px;
    padding: 12px;
    border-radius: 10px;
    border: 2px solid #757575;
}

.continue-button {
    margin-top: 20px;
    background-color: #b90114; /* Siempre rojo */
    color: #ffffff;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}